<div>
Hola <b>%deudor%,</b>
<br>
<br>
Tu solicitud de crédito ha sido registrada exitosamente.
<br>
<br>
Escogiste a los siguientes codeudores:
<ul>
%lista_codeudores%
</ul>
<br>
<br>
Hemos enviado a sus correos esta novedad para completar tu solicitud. A la derecha de cada nombre encontrarás el link que deben usar para diligenciar sus datos.
<br>
Si necesitas agregar un codeudor adicional, puedes utilizar el <a href="https://www.vanka.com.co/credito/nuevo_codeudor?num_radicado=%num_radicado%">siguiente link</a>.
<br>
<br>
<br>
<br>
Pronto estaremos en contacto contigo.
<br>
<br>
Para más información puedes contactarnos al número celular +57 316 742 8318.
<br>
<br>
¡Saludos!
<br>
<br>
<br>
%html_firma%
</div>