<div>
Un codeudor ha finalizado el diligenciamiento del formulario con los siguientes datos:
<ul>
<li>ID deudor: %id_deudor%</li>
<li>Solicitante: %solicitante%</li>
<li>Nombre(s) codeudor: %nombres%</li>
<li>Primer apellido codeudor: %primer_apellido%</li>
<li>Segundo apellido codeudor: %segundo_apellido%</li>
<li>Celular codeudor: %celular%</li>
<li>Correo electrónico codeudor: %correo%</li>
<li>Número identificación codeudor: %numero_identificacion%</li>
</ul>
<br>Ingresa al siguiente enlace para consultar la información en detalle:
<br>
%enlace_admin_codeudor%
<br>
<br>
%html_firma%
</div>