<div>
Un codeudor ha finalizado el diligenciamiento del formulario con los siguientes datos:
<ul>
<li>ID deudor: %id_deudor%</li>
<li>Solicitante: %solicitante%</li>
<li>Nombre de la empresa codeudor: %nombre_empresa%</li>
<li>Celular codeudor: %celular%</li>
<li>Correo electrónico codeudor: %correo_representante_legal%</li>
<li>Número identificación codeudor: %numero_contacto_empresa%</li>
</ul>
<br>Ingresa al siguiente enlace para consultar la información en detalle:
<br>
%enlace_admin_codeudor%
<br>
<br>
%html_firma%
</div>