<div>
Hola <b>%deudor%,</b>
<br>
<br>
Has añadido exitosamente tus nuevos codeudores. El listado completo de los codeudores que tienes registrados es el siguiente:
<ul>
%lista_codeudores%
</ul>
<br>
<br>
Hemos enviado a sus correos esta novedad y un link para que completen tu solicitud diligenciando sus datos. Ese mismo link lo encontrarás frente a cada nombre por si deseas compartirlo personalmente.
<br>
<br>
Si crees conveniente agregar un codeudor adicional, puedes utilizar el <i><a href="https://www.vanka.com.co/credito/nuevo_codeudor?num_radicado=%num_radicado%">siguiente link</a></i>.
<br>
<br>
<br>
Pronto estaremos en contacto contigo.
<br>
Para más información puedes contactarnos al número celular +57 316 742 8318.
<br>
<br>
¡Saludos!
<br>
<br>
<br>
%html_firma%
</div>